/* Generic CSS */
@import "./variables.css";

.page-wrapper {
  font-family: "Raleway", sans-serif;
  max-width: 1400px;
  margin: 0px auto;
}

.link {
  text-decoration: none;
  color: var(--black-color);
}

.titles {
  font-size: var(--extra-large-font-size);
  font-weight: var(--bold-font-weight);
  margin: 0px;
}

/* header */

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 32px;
  width: 61px;
  height: 19px;
}

.navigation-menu {
  display: flex;
  font-size: var(--medium-font-size);
  gap: 68px;
}

.navigation-link {
  padding: 16px 0 0 0;
}

.navigation-link:hover {
  border-top: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding-top: 14px;
}

/* main */

.search-section {
  margin: 64px 0 32px 0;
}

.description-text {
  margin: 8px 0 32px 0;
  font-size: var(--medium-font-size);
}

.city-search-form {
  display: flex;
}

.city-search-input-wrapper {
  display: flex;
  align-items: center;
  border-radius: 15px 0px 0px 15px;
  background-color: var(--tertiary-color);
}

.location-icon-wrapper {
  display: flex;
  padding: 16px 18px;
}

.city-search-input {
  border: 1px solid var(--tertiary-color);
  padding: 16px;
  font-weight: var(--bold-font-weight);
  font-size: var(--large-font-size);
}

.city-search-input::placeholder {
  color: var(--black-color);
  opacity: 1;
}

.city-search-button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 0px 15px 15px 0px;
  padding: 16px;
  font-weight: var(--bold-font-weight);
  font-size: var(--large-font-size);
  cursor: pointer;
}

.magnifying-glass {
  visibility: hidden;
}

.search-with-filters {
  display: flex;
  align-items: baseline;
  font-size: var(--large-font-size);
  font-weight: var(--bold-font-weight);
  margin: 32px 0;
  gap: 16px;
}

.filters-wrapper-title {
  font-size: var(--large-font-size);
  margin: 0px;
}

.search-with-filters-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.search-with-filter-Card {
  display: flex;
  align-items: center;
  border: 2px solid var(--quaternary-color);
  border-radius: 45px;
  padding: 15px 19px;
  gap: 10px;
  font-size: 17px;
  cursor: pointer;
  white-space: nowrap;
}

.search-with-filter-Card:hover {
  background-color: var(--secondary-color);
}

.search-with-filter-icon {
  color: var(--primary-color);
  font-size: var(--extra-large-font-size);
}

.filter-name {
  margin: 0;
}

.information-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.information-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  border: 1px solid var(--quaternary-color);
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 12px;
}

.information-text {
  margin: 0px;
  font-size: var(--medium-font-size);
}

/* Section - hosts */

.hosts-section {
  display: flex;
  gap: 40px;
}

#hosts-content {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
  border-radius: 20px;
  padding: 32px;
  width: 66%;
  gap: 32px;
  justify-content: space-between;
}

.hosts-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.host-card {
  border: 5px solid var(--white-color);
  border-radius: 20px;
  box-shadow: 2px 5px 10px var(--quaternary-color);
  background-color: var(--white-color);
  width: calc(33% - 25px);
}

.host-picture {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.host-informations {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px 16px 16px 16px;
}

.host-name,
.price {
  font-weight: var(--bold-font-weight);
}

.host-name {
  margin: 0px;
  font-size: var(--medium-font-size);
  font-weight: var(--bold-font-weight);
}

.host-price {
  margin: 0px;
  font-size: var(--small-font-size);
}

.host-rating {
  color: var(--primary-color);
  font-size: 12px;
  white-space: nowrap;
}

.grey-star {
  color: var(--tertiary-color);
}

.moreHostsLinkWrapper {
  margin-top: 40px;
}

.moreHostsLink {
  font-weight: var(--bold-font-weight);
  font-size: var(--large-font-size);
}

/* Section - Most popular hosts */

.most-popular-hosts-aside {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
  border-radius: 20px;
  padding: 32px 32px 0px 32px;
  width: 33%;
  gap: 32px;
}

.most-popular-hosts-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.most-popular-hosts-chart-icon {
  align-items: center;
  justify-content: flex-end;
  color: #0065fc;
  font-size: 20px;
}

.most-popular-hosts-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.most-popular-host-card {
  border: 5px solid var(--white-color);
  border-radius: 20px;
  box-shadow: 2px 5px 10px var(--quaternary-color);
  background-color: var(--white-color);
}

.most-popular-host-content {
  display: flex;
}

.most-popular-host-picture-wrapper {
  display: flex;
}

.most-popular-host-picture {
  height: 150px;
  width: 127px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.most-popular-host-informations-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 16px;
}

.most-popular-host-informations {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Section - Activities Marseille */

#activities-content {
  margin: 64px 0;
}

.activities-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  gap: 32px;
  justify-content: space-around;
}

.activity-card {
  width: calc(25% - 30px);
}

.activity-picture {
  width: 100%;
  height: 389px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.activity-name {
  border: 0px solid var(--tertiary-color);
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 5px 10px var(--quaternary-color);
  margin: -3px 0px 0px 0px;
  padding: 24px 0px 0px 16px;
  height: 50px;
  font-weight: var(--bold-font-weight);
  font-size: var(--medium-font-size);
  flex-wrap: wrap;
}

/* Footer */

.footer-wrapper {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 24px;
  background-color: var(--tertiary-color);
  gap: 32px;
}

.footer-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.footerTitle {
  font-weight: var(--bold-font-weight);
  font-size: var(--large-font-size);
  margin: 0;
}

.footer-links {
  font-size: var(--medium-font-size);
}

@media screen and (max-width: 1440px) {
  .page-wrapper {
    margin: 0 48px;
  }
}
